/* Global */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

/* Func */
.multi-level, .item ul, .nav input[type="checkbox"] {
  display: none;
}

#menu:checked ~ .multi-level, .item input:checked ~ ul {
  display: block;
}
